{% extends "layout.html" %}
{% block title %}Poetic Relief | תבליט פיוטי{% endblock %}


{% block content %}


<div id="legal">
<h3>Legal / Licensing</h3>



<p class="">Hier finden sie alle Informationen zu den Lizenzen für den Quellcode und Inhalte</p>

<p>Project Source Code: AGPL v3</p>
<p>Refresh Icon: Refresh by Richard Schumann from The Noun Project (CC-BY)</p>

<p>Die Daten des Steinheim Instituts sind, soweit nicht anders angegeben unter der <ref target="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution-BY 4.0</ref> Lizenz lizensiert.</p>

</div>
</div>
{% endblock %}
