{% extends "layout.html" %}
{% block title %}Poetic Relief | תבליט פיוטי{% endblock %}


{% block content %}


<div id="faq">
<h3>FAQ</h3>



<p class="faq frage">Was kannst du auf dieser Homepage finden?</p>

<p class="faq antwort">Auf der „Poetic Relief“ Website findest du die hebräische und deutsche Version jüdischer Grabinschriften. Im Zentrum steht die Poesie der Inschriften, welche Geschichten aus vergangener Zeit erzählen, sie lassen Biografien lebendig werden und bringen historische jüdische Kultur nahe. Durch die eigenständige Darstellung der Inschriften wird ein neuer Zugang für kulturell Interessierte geschaffen, die Inschriften sind von ihrem Ursprungsort losgelöst und bereichern den öffentlichen Raum.</p>

<p class="faq frage">Welche Daten sind verfügbar und woher stammen sie?</p>

<p class="faq antwort">Es sind zu den deutschen und hebräischen Grabinschriften Bildmaterialen und Links zu weiterführenden Daten angeführt, die in der „epidat-Datenbank“ (http://www.steinheim-institut.de/cgi-bin/epidat) des Steinheim-Institutes (http://www.steinheim-institut.de/wiki/index.php/Hauptseite) zu finden sind.</p>  

<p class="faq frage">Was ist Epigrafik?</p>

<p class="faq antwort">Epigrafik ist Inschriftenkunde, die sich wissenschaftlich mit Beschriftungen auf unterschiedlichen Materialien auseinandersetzt. </p>


<p class="faq frage">Woher stammt die Idee zu POETIC RELIEF“?</p>

<p class="faq antwort">Im Rahmen des ersten deutschen Kultur-Hackathons Coding da Vinci (http://codingdavinci.de), wo das Steinheim-Institut (http://www.steinheim-institut.de/wiki/index.php/Hauptseite) als teilnehmende Kulturinstitution und Partner fungierte, wurde der epidat-Datensatz (http://www.steinheim-institut.de/cgi-bin/epidat) vorgestellt und daraus die Website entwickelt, um die Grabinschriften neu darzustellen.</p>

<p class="faq frage">Wo finde ich weitere Infos zu den Grabinschriften?</p>

<p class="faq antwort">Du findest ausführliche Informationen zu den Grabinschriften unter folgendem Link des Steinheim-Instituts: http://spurensuche.steinheim-institut.org</p>

<p class="faq frage">Wie viele Friedhöfe aus welchen Regionen sind in der Datenbank erfasst? </p>

<p class="faq antwort">Es sind 139 historische Friedhöfe aus verschiedenen Regionen in Deutschland erfasst. Eine genaue Auflistung der Regionen findest du hier (http://www.steinheim-institut.de/cgi-bin/epidat?info=filesregio); eine alphabetische Liste der historischen Bestände kannst du hier (http://www.steinheim-institut.de/cgi-bin/epidat?info=filesalef) abrufen. </p>


<p class="faq frage">Welche Informationen finde ich zu den einzelnen Grabinschriften?</p>

<p class="faq antwort">Du findest die deutsche und/oder die hebräische Grabinschrift im Original und die deutsche Übersetzung, sowie Informationen zum Standort und Fotografien des Grabsteins.</p>


<p class="faq frage">Wird die Seite noch weiter ausgebaut?</p>

<p class="faq antwort">Ja, es wird z.B. an einer Suchfunktion, weiteren Darstellungsmöglichkeiten und Visualisierungen sowie Zugang zu weiteren Bereichen durch Apps (Chromecast) oder die Opptimierung für Mobiltelefone gearbeitet.</p>

<p class="faq frage">Wie kann ich euch erreichen?</p> 

<p class="faq antwort">
<ol class="clear">
<li>Noa Rave @chukarave </li>
<li>Florian Idelberger @windrush</li>
<li>Ruperta M. Steinwender @rupertast / rums(at)gmx.at</li>

</ol>
</p>


</div>
</div>
{% endblock %}
