{% extends "layout.html" %}
{% block title %}index{% endblock %}


{% block content %}
<h3>Remember ...</h3>
<div type='translation'>
<h4><head>Übersetzung</head></h4>
<div type='textpart' subtype='recto' class="insc">
<lb n='5'/>
Hier ist begraben<br />
<lb n='6'/>
ein lauterer und aufrechter Mann<br />
<lb n='7'/>
er wandelte lauter und wirkte Wohltat,<br />
<lb n='8'/>
er ehrfürchtete Gott all seine Tage,<br />
<lb n='9'/>
ein Gerechter, in seinem Glauben lebt er,<br />
<lb n='10'/>
Josef, Sohn des Efraim,<br />
<lb n='11'/>
gestorben in hohem und gutem Greisenalter<br />
<lb n='12'/>
am Tag des 7. Tammus<br />
<lb n='13'/>
und begraben mit gutem Namen am 9. desselben<br />
<lb n='14'/>
im Jahr 687.
<lb n='15'/>
Seine Seele sei eingebunden in das Bündel des Lebens<br />
</div></div>
<p>
			{% if pg %}
			{{ pg }}</p>
			{% endif %}
{% endblock %}
