{% extends "layout.html" %}
{% block title %}Poetic Relief{% endblock %}


{% block content %}
<h3>About</h3>
<div>
<h1>Hebräische und deutsche Inschriften jüdischer Gräber</h1>

<p>Erst im Laufe des 19. Jahrhunderts setzten sich deutschsprachige Inschriften auf jüdischen Gräbern durch. Davor waren die Inschriften ausschließlich in Hebräisch verfasst.</p>

<h2>Hebräische Inschriften</h2>
<p>Du findest auf einem mit hebräischer Sprache verziertem Grabstein den Namen des/der Verstorbenen und Daten, wie zum Beispiel das Sterbedatum, eine Einleitungsformel, wie „Hier ist begraben“ oder „Hier ist geborgen“, einen Schlusssegen „Seine/ihre Seele sei eingebunden in das Bündel des Lebens!“, und oft erweitert durch einer Lobesrede, die sich Eulogie nennt.</p>

<p>Der Name und das Sterbedatum sind die wichtigsten Angaben einer hebräischen Grabinschrift, wobei das Geburtsdatum üblicherweise nicht angeführt wurde.
So setzt sich der Name aus dem Vornamen und dem Namen des Vaters zusammen, wobei bei Frauen in der Neuzeit der Name des Vaters durch den des Ehegattens ersetzt oder ergänzt wurde. Ein Beispiel dafür ist: Sara, Tochter des Mosche, Gattin des Awraham. Auch Angaben eines Herkunftsortes, eines Bei- oder Familiennamens, in einigen Gemeinden zu einem individuellen Hauszeichen, das statt der Vergabe von Hausnummern in größeren Städten verwendet wurde, finden sich auf zahlreichen Grabinschriften wieder. Weitere Angaben zur Person wurden durch das Anfügen des Status, wie zum Beispiel das Kind, der Greis, die Witwe gemacht. Bei Männern wurde oft auch der Titel, der den gesellschaftlichen Status wieder erkennen ließ, angeführt. Nach dem Namen des Vaters beziehungsweise Gattens wurde, sofern er schon verstorben war, ein Segenswunsch angeführt. </p>

<h2>Deutsche Inschriften</h2>
<p>Bei deutschen Inschriften wurde der Grabstein zunächst nur mit dem (bürgerlichen) Namen und dem Sterbedatum auf der Rückseite versehen. Diese  wurden jedoch immer länger und daraufhin auf der Vorderseite angebracht. Somit wurden die hebräischen Inschriften im Laufe der Zeit verdrängt. Es kam aber auch vor, dass der deutschen Inschrift noch die Einleitungs- und Schlussformel in hebräisch voran- und nachgestellt wurde. Zusätzlich wurden sie mit den Familiennamen, dem Sterbedatum und dem Geburts- und Sterbeorte ergänzt. In der zweiten Hälfte des 19. Jahrhunderts wurden zum Teil auch Berufsangaben hinzugefügt. Auch gereimte Gedichte, welche die Tugenden und Vorzüge eines/einer Verstorbenen wiederspiegelten, lassen sich auf deutschen Grabinschriften wiederfinden. </p>

<p>Quelle: <a href="http://spurensuche.steinheim-institut.org/deutsche.html">http://spurensuche.steinheim-institut.org/deutsche.html<a/></p>
</div>
			
{% endblock %}
