@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(destroyfont.css);

html {
  height: 100%;
}

body {
  background-color: #D4D4D4;
  height: 100%;
  font-family: Helvetica;
}

header {
  text-align: center;
  font-family: "Destroy",
               “Alef Hebrewe”,
               Helvetica,
               Arial,
               sans-serif;
}

h1 div#leftheader {
  text-align: center;
  display: inline;
  /* float: left; */
}

h1 div#rightheader {
  text-align: center;
  display: inline;
/*  float: right; */
}

.separator {
  width: 600px;
  height: 2px;
  margin-bottom: 20px;
  margin-left: 50px;
  background-color: #D4D4D4;
}

.container {
  width: 750px;
  min-height: 100%;
  margin: auto;
  padding: 20px;
  background-color: white;
}

h3 {
  text-align: center;
}

.text {
  white-space: pre-wrap;
}

#original {  
  margin-right: 50px;
}

#translation {
  margin-left: 50px;
  display: none;
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  font-weight: bold;
  font-size: 12pt;
}

#original_and_translation {
  display: none;
  margin: auto 10px;
}

#original_and_translation .left{
  float: left;
  font-weight: bold;
  font-size: 11pt;
}

#original_and_translation .right{
  float: right;
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  font-weight: bold;
  font-size: 11pt;
}

.hebrew {
  text-align: right;
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: darkgrey;
}

.text-navigation {
  margin-right: 50px;
}

.text-navigation a {
  float: right;
  margin-left: 20px;
  color: black;
  text-decoration: none;
  background-color: lightgrey;
  margin-bottom: 20px;
  padding: 3px;
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  font-weight: bold;
  font-size: 11pt;
}

.text-navigation a.active {
  border-bottom-color: red;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background-color: black;
  color: white;
}

.text-navigation a:hover {
  background-color: grey;
}

.clear {
  clear:both;
}

.center-cropped {
  width: 600px;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
}​

/* Testing ... */

a, a:visited { color: #333; text-decoration: underline; outline: 0; }
  a:hover, a:focus { color: #000; }
  p a, p a:visited { line-height: inherit; }